<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="./public/css/user/user.css">

    <!-- Boxicons JS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="icon" href="./public/assets/logo.png" type="image/x-icon">

    <title>Mustache</title>
</head>

<body>

    <nav class="sidebar close">

        <header>

            <div class="image-text">

                <span class="image">
                    <img src="./public/assets/logo.png" alt="logo">
                </span>

                <div class="text header-text">

                    <span class="name">Mustache</span>

                </div>

            </div>

            <i class="bx bx-chevron-right toggle"></i>

        </header>

        <div class="menu-bar">

            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="search" placeholder="Pesquise...">
                </li>

                <ul class="menu-links">

                    <li class="nav-link loadHome" onclick="openCity(event, 'Home')">
                        <a href="#home"><i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span></a>

                    </li>

                    <li class="nav-link" onclick="openCity(event, 'dashboard')">
                        <a href="#dashboard"><i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Dashboard</span></a>

                    </li>

                    <li class="nav-link" onclick="openCity(event, 'notificacao')">
                        <a href="#notification"><i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notificação</span></a>

                    </li>

                    <li class="nav-link" onclick="openCity(event, 'user')">
                        <a href="#"><i class='bx bx-pie-chart icon'></i>
                            <span class="text nav-text">Usuários</span></a>

                    </li>

                    <li class="nav-link" onclick="openCity(event, 'produtos')">
                        <a href="#"><i class='bx bx-cart-alt icon'></i>
                            <span class="text nav-text">Produtos</span></a>

                    </li>

                    <li class="nav-link" onclick="openCity(event, 'carteira')">
                        <a href="#"><i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Carteira</span></a>

                    </li>

                </ul>

            </div>

            <div class="bottom-content">

                <form action="/logout" method="GET" id="form-logout">
                    <li class="btn-logout" onclick="formLogout()">
                        <a type="submit"><i class='bx bx-log-out icon'></i>
                            <button class="text nav-text"
                                style="background-color: transparent;border: none">Sair</button></a>
                    </li>
                </form>
            </div>
        </div>
    </nav>


    <section class="home" id="Home">
        <div class="text">Olá, {{user.first_name}}</div>
    </section>


    <section class="home" id="dashboard">
        <div class="text">Dashboard</div>
    </section>


    <section class="home" id="notificacao">
        <div class="text">Notificação</div>
    </section>


    <section class="home" id="user">
        <div class="text">Gerenciamento de Usuários</div>
    </section>


    <section class="home" id="produtos">
        <div class="text">Produtos</div>
    </section>


    <section class="home" id="carteira">
        <div class="text">Carteira</div>
    </section>


    <script src="./public/script/script.js"></script>


</body>

</html>